@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Ejercicios_tp01.Entities
<h1><mark>Problema 3</mark></h1>
<h2>Listado de Provincias Argentinas, con su correspondiente Id</h2>
<form asp-action="Problema3" asp-controller="Home" method="post">
   
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
            </tr>
        </thead>
        @{
           
            foreach (Provincia prov in Model)
            {
                <tr>
                    <td>@prov.Id</td>
                    <td>@prov.Nombre</td>
                </tr>
            }
        }

    </table>
</form>
