@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1><mark>Problema 2</mark></h1>
<h2>Calcular la division entre dos numeros </h2>
<div>
    <form asp-action="Problema2" asp-controller="Home" method="post">
        <input type="number" step="0.01" tabindex="9999.99" name="n1" value="" autofocus placeholder="Numerador"/>
        <br />
        <input type="number" step="0.01" tabindex="9999.99" name="n2" value="" autofocus placeholder="Denominador"/>
        <br />
        <input type="submit" class="btn btn-primary" />
    </form>
</div>